body {
  padding: 50px;
}

.con {
  display: flex;
  min-height: 400px;
}

.con > div {
  position: relative;
}

.con > div:first-child {
  width: 40%;
  position: relative;
  border-right: 1px solid #dcdee0;
  box-sizing: border-box;
  padding: 20px;
}

.con > div:last-child {
  width: 60%;
  box-sizing: border-box;
  padding: 20px;
}

.con > div:first-child::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #dcdee0;
  position: absolute;
  right: 0;
  top: -5px;
  transform: translate(50%);
}

.con .bg {
  background-color: #f2f3f5;
  background-clip: content-box;
}

.con .des {
  text-align: right;
}