.box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box > div {
  width: 150px;
  height: 150px;
}

.box-2 {
  position: relative;
  top: 20px;
  left: 20px;
}

.box-3 {
  position: absolute;
  top: 20px;
  left: 20px;
}