/*===================
      毛玻璃效果
===================*/

/*------- 1 -------*/
.g-filter {
  filter: blur(6px);
}

/*------- 2 -------*/
.g-backdrop-filter {
  backdrop-filter: blur(6px);
}

/*------- 3 -------*/
.g-glossy {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.g-glossy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../assets/1.jfif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
}


