/*===================
    卡片堆叠和展开
===================*/

/* http://www.htmleaf.com/jQuery/Image-Effects/201506212080.html */

.box-content {
  position: absolute;
  width: 200px;
  height: 200px;
}

.box-content img {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 5px solid #fff;
  border-radius: 8px;
  transition: transform .5s ease;
}

.img-1 {
  transform: rotateZ(10deg);
}

.img-2 {
  transform: rotateZ(-10deg);
}

.img-1-move {
  transform: rotateZ(-10deg) translateX(-220px);
}

.img-2-move {
  transform: rotateZ(10deg) translateX(220px);
}