.container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.box-1 > div {
  width: 25vw;
  height: 30vh;
  margin: 20px;
  border-radius: 8px;
  background-color: #F5A1D5;
}

.container-2 {
  display: flex;
  flex-wrap: wrap;
  padding:0 300px;
}

.box-2 > div {
  width: 250px;
  height: 250px;
  margin: 20px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #F5A1D5;
}

.h-v-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color:inherit;
}

.bgcolor-15{ background: linear-gradient(to bottom, #BCE6FF 0%, #88CDF6); color: #9B9B9B}
.bgcolor-14{ background: linear-gradient(to bottom, #FFF 0%, #D1D1D1 100%); color: #264D59}
.bgcolor-13{ background: linear-gradient(to left top, #F5A1D5 0%, #CDD3E9 100%); color: #FFF}


@media screen and (max-width: 1200px) {
  .container-2 {
    padding: 0 100px;
  }
}