body {
  margin: 0;
  padding: 0;
}

.container-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 50px 0;
}

.container-1 .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 10px;
  margin-top: 30px;
}

.container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  width: 100vw;
  height: 100vh;
  padding-left: 50px;
  padding-right: 50px; 
  box-sizing: border-box;
}

.container-2 .item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin-top: 20px;
}

.container-3 {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.container-3 .item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: black;
}


.f1 {
  font-size: 25px;
  font-weight: 600;
}


.bgc-1 {background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);}
.bgc-2 {background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);}
.bgc-3 {background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);}
.bgc-4 {background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);}
.bgc-5 {background-image: linear-gradient( 120deg, #d4fc79 0%, #96e6a1 100%);}
.bgc-6 {background-image: linear-gradient( 120deg, #a1c4fd 0%, #c2e9fb 100%);}
.bgc-7 {background-image: linear-gradient( 120deg, #f093fb 0%, #f5576c 100%);}
.bgc-8 {background-image: linear-gradient( to top, #c1dfc4 0%, #deecdd 100%);}
.bgc-9 {background-image: linear-gradient( to top, #e6b980 0%, #eacda3 100%);}