body {
  margin: 0;
  padding: 0;
}

.main-box {
  width: 500px;
  border-radius: 10px;
  border: solid 2px #ccc;
}

.box {
  width: 200px;
  height: 200px;
  background-color: skyblue;
}

.float {
  float: right;
}

.float-clear {
  clear: both;
}

/* .main-box::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
} */