/*====================
      磨砂玻璃效果
====================*/

.container-bg {
  background-image: url("../assets/0.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*------- 1 -------*/
.filter {
  background-color: rgba(255, 255, 255, .7);
  filter: blur(6px);
}


/*------- 2 -------*/
.backdrop-filter {
  background-color: rgba(255, 255, 255, .7);
  backdrop-filter: blur(6px);
}


/*------- 3 -------*/
.frosted-glass {
  background: inherit;
  position: relative;
  overflow: hidden;
}

.frosted-glass::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: blur(10px); 
}