/*===============
    渐变属性
===============*/

.liner-gradient-bg-1 {
  background: linear-gradient(to top left, #BCE6FF, #015C92);
}

.liner-gradient-bg-2 {
  background: linear-gradient(to left, #FF9CDA, #EA4492);
}

.liner-gradient-bg-3 {
  background: linear-gradient(to top right, #6096FD, #AAB6FB);
}

.radial-gradient-bg-1 {
  background: radial-gradient( circle 200px, #0CCDA3, #C1FCD3);
}

.radial-gradient-bg-2 {
  background: radial-gradient( circle 200px at 20%, #7BD5F5, #AE8AF8);
}

.radial-gradient-bg-3 {
  background: radial-gradient(circle closest-side, #FFDD94, #FA897B);
}