.box {
  display: flex;
}

.img-item {
  width: 200px;
  height: 260px;
  margin: 10px;
  border-radius: 8px;
  background-size: cover;
  transition: width .4s linear;
}

.img-item:hover {
  width: 300px;
}